.description-enter,
.description-appear {
  transform: translate3d(100vw, 0px, 0px);
}
.description-enter-active,
.description-appear-active {
  transform: translate3d(0px, 0px, 0px);
  /* width: 100%; */
  transition: cubic-bezier(0.68, 0.37, 0.59, 0.83) 0ms;
}
.description-exit-done,
.description-exit-done {
  /* background-color: yellow !important; */
  width: 0%;
}
