/* 모든 화면에 적용되는 CSSTransition 코드  */

.main-enter,
.main-appear {
  opacity: 0;
}
.main-enter-active,
.main-appear-active {
  opacity: 1;
  transition: opacity cubic-bezier(0.16, 0.76, 0.79, 1.07) 500ms;
}
.main-exit {
  opacity: 1;
}
.main-exit-active {
  opacity: 0;
  transition: opacity cubic-bezier(0.16, 0.76, 0.79, 1.07) 500ms;
}

/* 게시물 상세보기에서 적용되는 CSSTransition */

.post-enter,
.post-appear {
  transform: translateX(100vw);
}
.post-enter-active,
.post-appear-active {
  transform: translateX(0px);
  transition: all cubic-bezier(0.16, 0.76, 0.79, 1.07) 700ms;
}
.post-exit {
  transform: translateX(0px);
}
.post-exit-active {
  transform: translate(100vw);
  transition: all cubic-bezier(0.16, 0.76, 0.79, 1.07) 700ms;
}
