/* 모든 화면에 적용되는 CSSTransition 코드  */

.main-enter,
.main-appear {
  opacity: 0;
}
.main-enter-active,
.main-appear-active {
  opacity: 1;
  transition: opacity cubic-bezier(0.16, 0.76, 0.79, 1.07) 150ms;
}
.main-exit {
  opacity: 1;
}
.main-exit-active {
  opacity: 0;
  transition: opacity cubic-bezier(0.16, 0.76, 0.79, 1.07) 150ms;
}

/* 게시물 상세보기에서 적용되는 CSSTransition */

/* 처음에 오른쪽에 위치 */
.post-enter,
.post-appear {
  transform: translateX(100vw);
}

/* DemoContainer는 처음에 100% */
/* DemoContainer는 처음에 들어올떄를 위한 코드 (url로 바로 들어왔을 경우 ) */

.post-appear > div:first-child {
  width: 100%;
}
/* DescContainer는 처음에 0% */
.post-appear > div:nth-child(2) {
  width: 0%;
}
.post-appear-done > div:nth-child(2) {
  width: 40%;
}
@media (max-width: 450px) {
  .post-appear-done > div:nth-child(2) {
    width: 0%;
  }
}
/* DemoContainer는 처음에 100% */
/* DemoContainer는 기본적으로 들어왔을 때 적용*/
.post-enter > div:first-child {
  width: 100%;
}
/* DescContainer는 처음에 0% */
.post-enter > div:nth-child(2) {
  width: 0%;
}

/* DemoContainer는 원래자리로 이동 */
.post-enter-active,
.post-appear-active {
  transform: translateX(0px);
  transition: all cubic-bezier(0.16, 0.76, 0.79, 1.07) 700ms;
}

/* 나가기 전에 일단 0px  */
.post-exit {
  transform: translateX(0px);
}
/* 나가sms rht 100vw  */

.post-exit-active {
  transform: translate(100vw);
  transition: all cubic-bezier(0.16, 0.76, 0.79, 1.07) 700ms;
}

/* DescContainer는 처음에 0% */
.post-exit-done > div:nth-child(2) {
  width: 0%;
}

/* 현재 페이지의 title의 이동 transition */
.page__title-enter,
.page__title-appear {
  transform: translate3d(0px, -50px, 0px);
  opacity: 0;
}

.page__title-enter-active,
.page__title-appear-active {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all cubic-bezier(0.16, 0.76, 0.79, 1.07) 700ms;
}

.page__title-appear-done,
.page__title-enter-done {
  transform: translate3d(0px, 0px, 0px);
}

.page__title-exit {
  transform: translate3d(0px, 0px, 0px);
}
.page__title-exit-active {
  transform: translate3d(0px, 50px, 0px);
  transition: all cubic-bezier(0.16, 0.76, 0.79, 1.07) 500ms;
}
.page__title-exit-done {
  transform: translate3d(0px, 50px, 0px);
}
